* {
   box-sizing: border-box;
}

a,
button {
   transition: all 0.3s ease-in-out;
}

select {
   margin: 10px;
}

textarea {
   display: block;
   margin: 0 0 20px 50px;
   padding: 15px;
   width: 90%;
}

ul {
   display: flex;
   flex-wrap: wrap;
}

ul li {
   display: flex;
   margin: 10px;
   min-width: 45%;
   align-self: flex-start;
}

.film-title {
   margin: 0;
}

#ul li img {
   order: 1;
   width: 150px;
   align-self: flex-start;
}

#ul li p {
   order: 2;
   padding-left: 10px;
   width: 400px;
   margin: 2px 0 0 5px;
}

.page-wrap {
   text-align: center;
}

.page-wrap .page {
   margin: 5px;
}

#ul li button {
   height: 100%;
   order: 3;
}

.favorite {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: scroll;
}

.favorite li {
   min-width: 25%;
}

.favorite li img {
   width: 70px;
}

.favorite li button {
   display: none;
}

.favorite li p {
   margin-left: 10px;
}

.fav-wrap {
   display: none;
   margin: 5px;
   padding: 5px;
}

.block {
   display: block;
}
